<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <% include templates/header.ejs %>

  <div id="outerdiv">
      <div id="innerdiv">
          <h1 style="text-align:center;"><%= title %></h1>
          <strong>
    <p>Welcome!</p>


    <div>
    You have reached the HiTech platform of Affordable Housing Program @ Princeton.
    </div>

<p>
    <div>
    Using this platform, you will be able to
    <ul>
    <li> Check if you are eligible to apply for housing using the "Affordable Housing Progam @ Princeton"
    </li>

    <li> Apply for affordable Housing Program </li>

    <li> Print generated forms with filled in information for afordable housing
    </li>

    <li> Check your status of application </li>
    </ul>
    </div>
      </div>


  </div>

  <% include templates/footer.ejs %>
  </body>
</html>
